<html>
<head>
    <% include ./partial/head.ejs %>
    <title>404 NOT FOUND</title>
</head>
<body>
<% include ./partial/navbar.ejs %>
<main>
    <div class="container">
        <h1>Error: 404 NOT found<br></h1>
        <h2>요청하신 웹페이지를 찾을 수 없습니다.</h2>
    </div>
</main>
<% include ./partial/footer.ejs %>
</body>
</html>