<html>
<head>
    <% include ./partial/head.ejs %>
    <!-- <script src="/javascripts/login.js"></script> -->
</head>
<body>
<% include ./partial/navbar.ejs %>
<main>
    <div class="row">
        <div class="col s12 offset-m3 m6">
            <div class="row">
                <div id="form">
                    <form action="/login" method="post">
                        <div class="input-field col s12">
                            <input placeholder="아이디" name="username" id="username" type="text">
                            <label for="username">아이디</label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="비밀번호" name="password" id="password" type="password">
                            <label for="password">비밀번호</label>
                        </div>
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light">로그인</button>
                        </div>
                    </form>
                    <div class="input-field col s12">
                        <span id="result" style="color: red"> <%= err %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ./partial/footer.ejs %>
</body>
</html>