<html>
<head>
    <% include ./partial/head.ejs %>
    <script src="/javascripts/view.js"></script>
</head>
<% include ./partial/navbar.ejs %>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text" id="card_description"></span>
                </div>
            </div>
        </div>
    </div>
</main>
</html>