<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">MCBE USERDB</h5>
                <p class="grey-text text-lighten-4">MCBE 유저 데이터베이스에서는 제보에 대한 법적 책임을 지지 않습니다.<br>
                제보의 책임은 전적으로 제보자에게 있음을 알립니다.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/policy">이용약관</a></li>
                    <li><a class="grey-text text-lighten-3" href="/api">API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2021. alvin0319. all rights reserved.
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
    </div>
</footer>